extends layout

block content
  h1 Evernote Certified Developers Program
  h2 Exercise 8
  h3 Authentication and Other API Features

  - if(session.error)
    h4 Error
    p
      = session.error

  - if(session.oauthAccessToken)
    a(href='/clear') Click here to clear credentials
  - else
    a(href='/oauth') Click here to connect to Evernote

  - if(session.notebooks)
    h4 Your notebooks
    ol
      - for (var i = 0; i < session.notebooks.length; ++i)
        li= session.notebooks[i].name
