extends layout

block content
  h1 Evernote Certified Developers Program
  h2 Exercise 5

  - if(session.error)
    h3 Error
    p
      = session.error
  h3 Authentication
  - if(session.oauthAccessToken)
    a(href='/clear') Click here to clear credentials
  - else
    a(href='/oauth') Click here to connect to Evernote

  - if(session.notebooks)
    h3 Notebooks
    ul
      - for (var i = 0; i < session.notebooks.length; ++i)
        li= session.notebooks[i].name
